<h1>Manage The Quiz</h1>
<ul style="list-style: disc; color: teal">
<li><%= link_to "Manage Users", users_url ,class: "al"%></li><br>
<li><%= link_to "Add User", "/users/new" ,class: "al"%></li><br>
<li><%= link_to "Manage Genres", "/genres" ,class: "al"%></li><br>
<li><%= link_to "Add Genre", "/genres/new/" ,class: "al"%></li><br>
<li><%= link_to "Manage Subgenres", "/subgenres" ,class: "al"%></li><br>
<li><%= link_to "Add Subgenre", "/subgenres/new/",class: "al" %></li><br>
<li><%= link_to "Manage Questions", "/questions" ,class: "al"%></li><br>
<li><%= link_to "Add Question", "/questions/new/" ,class: "al"%></li><br>
<li><%= link_to "View Attempt Database" , "/attempts" ,class: "al"%></li><br>
<li><%= link_to "View LeaderBoard" , "/adminleader" ,class: "al"%></li><br>
<li><%= link_to "logout" , "/logout" ,class: "al"%></li><br>
</ul>