<h1>Editing Subgenre</h1>

<%= render 'form', subgenre: @subgenre %>

&nbsp;<%= link_to 'Show', @subgenre,class: "al" %> |
&nbsp;<%= link_to 'Back', subgenres_path,class: "al" %> |
&nbsp;<%= link_to 'Home', admin_url,class: "al" %> |
&nbsp;<%= link_to 'logout', logout_url,class: "al" %><br>