<h1>Editing Attempt</h1>

<%= render 'form', attempt: @attempt %>

<%= link_to 'Show', @attempt %> |
<%= link_to 'Back', attempts_path %> |
&nbsp;<%= link_to 'Home', admin_url ,class: "al"%> |
&nbsp;<%= link_to 'logout', logout_url ,class: "al"%><br>
